$glavColor: #6495ED;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HEADER */
header {
  nav {
    padding-left: 15px;
    height: 51px;
    line-height: 51px;
    background-color: $glavColor;

    i {
      height: 51px;

      line-height: 51px;
    }
  }

  .dropdown-content {

    a {
      color: $glavColor !important;
    }
  }
}

/* MAIN SECTION */
.main-container {
  display: flex;


  //MENU
  .menu-block {
    height: calc(100vh - 51px);
    width: 190px;
    border-right: 1px solid rgba(100, 149, 237, 0.4);
    position: relative;

    .menu-ul {
      a {
        color: #313233;
      }

      .menu-li {
        text-align: left;
        font-size: 0.9rem;
        color: #313233;
        padding: 11px 0px;
        padding-left: 9%;
        cursor: pointer;
        user-select: none;
        display: flex;

        span {
          padding-left: 14px;
        }
      }
      .menu-li:hover {
        background-color: rgba(100, 149, 237, 0.35);
      }
      
    }
  }

}

/* SECTION */
section {
  width: 100%;
  padding: 20px;
  padding-top: 30px;
  display: none;

  h4 {
    line-height: 0;
    margin: 0;
    margin-bottom: 2rem;
  }
  #notifications {

    .professional-account-block {
      width: 300px;
      height: 150px;
      padding: 20px;
      padding-bottom: 10px;
      margin-top: 20px;
      margin-right: 10px;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.5);
      border-radius: 10px;
    }
  }

}
section.active {
  display: block;
}

section#notifications {
  .professional-account-block {
    width: 300px;
    height: 150px;
    padding: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-right: 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    .account-name {
      font-weight: bold;
    }
    .account-info {
      font-size: 13px;
      text-align: center;
      padding-top: 10px;
    }
    .account-button {
      margin-top: 20px;
      background: none;
      border: none;
      color: #6495ED;
      cursor: pointer;
    }
  }
}
